@import "tailwindcss";

/* Definindo a paleta de cores */
@theme{
  --color-w1: #fff;
  --color-b6: #00001bcf;

  --color-b0: #00001b;
  --color-b1: #0B1A3F;
  --color-b2: #122A6B;
  --color-b3: #1A3B9A;
  --color-b4: #2A4FCC;
  --color-b5: #3D6AE6;

  --color-p0: #14051f;
  --color-p1: #2A0B3F;
  --color-p2: #3A1271;
  --color-p3: #4B1A99;
  --color-p4: #632AC6;
  --color-p5: #7A3DEE;
}

body{
  background-color: #00001b;
  margin: 0 ;
  padding: 0px;
  font-family:  monospace;
}



/* Hero */
.imgLogo{
  animation: shadowImgHero 10s ease-in-out infinite;
}

@keyframes shadowImgHero {
  0%{
    filter: drop-shadow(0px 0px 5px var(--color-b5));
  }
  20%{
    filter: drop-shadow(0px 10px 20px var(--color-p5));
  }
  40%{
    filter: drop-shadow(-10px 0px 20px var(--color-b5));
  }
  60%{
    filter: drop-shadow(0px -10px 20px var(--color-b5));
  }
  80%{
    filter: drop-shadow(10px 0px 20px var(--color-p5));
  }
  100%{
    filter: drop-shadow(0px 0px 5px var(--color-b5));
  }
}

/* Sobre */
.StyleGrow{
  flex: 6 6 200px;
}


.xpBox:hover{
  animation: animaXpBox .6s ease-in-out ;
}

@keyframes animaXpBox{
   0%{
    filter: drop-shadow(0px 0px 5px var(--color-b5));
  }
  20%{
    filter: drop-shadow(0px 10px 20px var(--color-p5));
    transform: scaleY(.9);
  }
  40%{
    filter: drop-shadow(-10px 0px 20px var(--color-b3));
  }
}

